{% extends 'layout.html' %}
{% block content %}
        <span><img src="/static/img/scventures-identifier.png" style="float:left;"/></span>
        </br>
        </br>
        <h4>Rewiring the DNA in banking</h4>
        <div>
            SC Ventures is a platform and a catalyst for Standard Chartered to promote innovation, invest in disruptive financial technology and explore alternative business models.
        </div>
        </br>
        <h4>Under SC Ventures</h4>
        <div>
            <span><img src="/static/img/scinnovate-newlogo2.jpg" style="float:left;"/></span>
            </br>
            A platform for employees to submit ideas which disrupt current business models and create opportunities for new ones.
            </br></br>
        </div>
        <div>
            <span><img src="/static/img/exellerator-logo.jpg" style="float:left;"/></span>
            </br>
            Collaborative space to co-create, educate, inspire, empower and connect:
            <ul>
                <li>Singapore</li>
                <li>Hong Kong</li>
                <li>London popup</li>
                <li>Kenya</li>
                <li>Shanghai</li>
            </ul>
        </div>
        <div>
            <span><img src="/static/img/intra+logo.png" sty;e="float:left;"/></span>
            </br>
            Connecting you to tools and resources to get you started on the New Ways of Working!
        </div>
        <hr>
        <h4>SC Vamp - Developer Details</h4>
        <div>
            If you have any questions or concerns about the SC Vamp application, please feel free to contact:
        </div>
        <div>
            <table style="width:50%">
                <tr>
                    <th>Name</th><th>Email</th>
                </tr>
                <tr>
                    <td>James Lian</td><td>james.lian@sc.com</td>
                </tr>
            </table>
        </div>
        <hr>
        
{% endblock %}
        </div>
                
