{% extends 'layout.html' %}
{% block content %}
        <span><img src="/static/img/scventures-identifier.png""/></span>
        </br>
        </br>
        <h4>This page is not yet available</h4>
        <div>
            <img src="/static/img/work-in-progress.png""/>
            </br></br>
            The menu option you selected is not yet implemented.  Please try again later.
        </div>
        <hr>
        <h4>SC Vamp - Developer Details</h4>
        <div>
            If you have any questions or concerns about the SC Vamp application, please feel free to contact me:
        </div>
        <div>
            <table style="width:50%">
                <tr>
                    <th>Name</th><th>Email</th>
                </tr>
                <tr>
                    <td>james.lian@sc.com</td>
                </tr>
            </table>
        </div>
        <hr>
        
{% endblock %}
        </div>
                
